<html>
<head>
    <title>{% block title %}Default title{% end %}</title>
    <link type="text/css" href="/css/cupertino/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
	<link type="text/css" href="/css/jquery.autocomplete.css" rel="Stylesheet" />
	<link type="text/css" href="/css/site.css" rel="Stylesheet" />
    {% block head %}
    {% end %}
</head>
<body>
<div id="navbar">
{% if name %}
<a href="/">Home</a>
&nbsp;<strong>|</strong>&nbsp;
<a href="/user/">Users</a>
{% if name == "admin" %}
&nbsp;<strong>|</strong>&nbsp;
<a href="/source/">Media Sources</a>
{% end %}
&nbsp;<strong>|</strong>&nbsp;
<a href="/media/">Media Library</a>

<div id="loginBox">{% if name %}Logged in as {{ name }} (<a href="/logout">LOGOUT</a>){% end %}</div>
{% end %}
</div>


{% block body %}
{% end %}

<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
<script type="text/javascript">                                         
{% block script %}
{% end %}

function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}

jQuery.postJSON = function(url, args, callback) {
    args._xsrf = getCookie("_xsrf");
    $.ajax({url: url, data: $.param(args), dataType: "text", type: "POST",
        success: function(response) {
        callback(eval("(" + response + ")"));
    }});
};

$(document).ready(function() {
    $('.delete').click(function() {
        if (confirm("Delete this item?"))
            $.postJSON($(this).attr('href'), function(data) {
                // Reload the current page...
                location.reload();
                return false;
            });
        return false;
    });

{% block jquery %}
{% end %}
});
</script>
</body>
</html>
