{% extends "base.html" %}
{% block title %}Edit Media - Home Media Server{% end %}

{% block head %}
<link type="text/css" href="/css/mediaedit.css" rel="Stylesheet" />
{% end %}

{% block jquery %}
    $('#releaseDate').datepicker();

    {% if metadata["streamQuality"] == "HD" %}
        $(".sd").hide();
        $(".hd").show();    
    {% else %}
        $(".sd").show();
        $(".hd").hide();
    {% end %}
    
    $('#streamQuality').change(function(){
        $(".sd").toggle();
        $(".hd").toggle();
    });
{% end %}

{% block body %}
<form action="/tmdb/search/{{ metadata["id"] }}" method="post" class="ui-dialog" id="searchForm">
<fieldset id="search_themoviedb">
    <legend>Search themoviedb.org</legend>
    <div class="form-input"><label for="searchTitle">Title</label>
        <input type="text" size="40" name="searchTitle">
    </div>
    <input type="submit" value="{{ _("Search") }}"/>
    
    {{ xsrf_form_html() }}
</form>
</fieldset> 

<form enctype="multipart/form-data" action="/media/edit/{{ metadata["id"] }}" method="post" class="ui-dialog" id="mediaForm">
    <fieldset id="media_images">
    <legend>Images</legend>

    {% if not metadata["sdPosterUrl"] %}
    <img src="/media/image/sd/{{ metadata["id"] }}" />
    <div class="form-input"><label for="sdPosterImage">SD Image</label>
        <input name="sdPosterImage" type="file" />
    </div>
    <img src="/media/image/hd/{{ metadata["id"] }}" />
    <div class="form-input"><label for="hdPosterImage">HD Image</label>
        <input name="hdPosterImage" type="file" />
    </div>
    {% else %}
    <div class="covers">
        {% for poster in metadata["posters"]["cover"] %}
        <div class="cover-selection">
            <img src="{{ poster["url"] }}" width="150" />
            <input type="radio" name="sdPosterUrl" value="{{ poster["url"] }}" />
        </div>
        {% end %}
    </div>
    {% end %}
    </fieldset>
    <fieldset id="movie_details">
    <legend>Movie Details</legend>
        <select name="contentType">
            <option value="movie" {% if metadata["contentType"] == "movie" %}selected{% end %}>Movie</option>
            <option value="episode" {% if metadata["contentType"] == "episode" %}selected{% end %}>Episode</option>
            <option value="season" {% if metadata["contentType"] == "season" %}selected{% end %}>Season</option>
            <option value="series" {% if metadata["contentType"] == "series" %}selected{% end %}>Series</option>
            <option value="audio" {% if metadata["contentType"] == "audio" %}selected{% end %}>Audio</option>
        </select>

        <div class="form-input"><label for="title">Title or Episode Name</label>
        <input type="text" size="80" name="title" value="{{ metadata["title"] or "" }}" />
        </div>

        <div class="form-input"><label for="episodeNumber">Episode #</label>
        <input type="text" name="episodeNumber" value="{{ metadata["episodeNumber"] or "" }}" />
        </div>

        <div class="form-input"><label for="titleSeason">Season Title</label>
        <input type="text" size="80" name="titleSeason" value="{{ metadata["titleSeason"] or "" }}" />
        </div>
    
        <div class="form-input"><label for="shortDescriptionLine1">Short desc. #1</label>
        <input type="text" size="80" name="shortDescriptionLine1" value="{{ metadata["shortDescriptionLine1"]  or ""}}" />
        </div>
        <div class="form-input"><label for="shortDescriptionLine2">Short desc. #2</label>
        <input type="text" size="80" name="shortDescriptionLine2" value="{{ metadata["shortDescriptionLine2"]  or ""}}" />
        </div>

        <div class="form-input"><label for="description">Description</label>
        <textarea cols="80" rows="5" name="description">
        {{ metadata["description"] or "" }}
        </textarea>
        </div>

        <div class="form-input"><label for="actors">Actor(s)</label>
        <input type="text" size="80" name="actors" value="{{ metadata["actors"] or "" }}" />
        </div>

        <div class="form-input"><label for="director">Director(s)</label>
        <input type="text" size="80" name="director" value="{{ metadata["director"] or "" }}" />
        </div>

        <div class="form-input"><label for="categories">Categories</label>
        <input type="text" size="80" name="categories" value="{{ metadata["categories"] or "" }}" />
        </div>

        <div class="form-input"><label for="releaseDate">Release Date</label>
        <input type="text" name="releaseDate" id="releaseDate" value="{{ metadata["releaseDate"] }}" /></div>

        <select name="rating">
            {% for rating in ratings %}
            <option value="{{ rating }}" {% if metadata["rating"] == rating %}selected{% end %}>{{ rating }}</option>
            {% end %}
        </select>

        <div class="form-input"><label for="starRating">Rating (0-100)</label>
        <input type="text" name="starRating" value="{{ metadata["starRating"] or "" }}" />
        </div>

        <div class="form-input"><label for="userStarRating">User Rating (0-100)</label>
        <input type="text" name="userStarRating" value="{{ metadata["userStarRating"] or "" }}" />
        </div>
    </fieldset>
    
    <fieldset id="file_details">
    <legend>File Details</legend>
        <div class="form-input"><label for="path">Path</label>
        <input type="text" size="80" name="path" value="{{ metadata["path"] or "" }}" readonly />
        </div>

        <select name="streamFormat">
            <option value="mp4" {% if metadata["streamFormat"] == "mp4" %}selected{% end %}>mp4</option>
            <option value="wmv" {% if metadata["streamFormat"] == "wmv" %}selected{% end %}>wmv</option>
            <option value="mp3" {% if metadata["streamFormat"] == "mp3" %}selected{% end %}>mp3</option>
            <option value="wma" {% if metadata["streamFormat"] == "wma" %}selected{% end %}>wma</option>
        </select>

        <div class="form-input"><label for="bitrate">Bitrate (kbps)</label>
        <input type="text" size="10" name="bitrate" value="{{ metadata["bitrate"] or "0" }}" />
        </div>

        <div class="form-input"><label for="legth">Length (secs)</label>
        <input type="text" size="10" name="length" value="{{ metadata["length"]  or "0"}}" />
        </div>

        <div class="form-input"><label for="media_description">Media Details</label>
        <input type="text" size="80" name="media_description" value="{{ metadata["media_description"]  or ""}}" />
        </div>

        <div class="form-input"><label for="live">Live Stream</label>
        <input type="checkbox" name="live" {% if metadata["live"] %}checked{% end %} />
        </div>
    </fieldset>

    <fieldset id="stream_quality">
    <legend>Stream Quality</legend>
        <select name="streamQuality" id="streamQuality">
            <option value="SD" {% if metadata["streamQuality"] == "SD" %}selected{% end %}>SD</option>
            <option value="HD" {% if metadata["streamQuality"] == "HD" %}selected{% end %}>HD</option>
        </select>

        <div class="form-input, sd"><label for="sdBifUrl">SD BIF File</label>
        <input type="text" size="80" name="sdBifUrl" value="{{ metadata["sdBifUrl"] or "" }}" />
        </div>

        <div class="form-input, hd"><label for="hdBifUrl">HD BIF File</label>
        <input type="text" size="80" name="hdBifUrl" value="{{ metadata["hdBifUrl"] or "" }}" />
        </div>

        <div class="form-input, hd"><label for="hdPosterUrl">HD Cover URL</label>

        <div class="form-input, hd"><label for="hdBranded">HD Branded</label>
        <input type="checkbox" name="hdBranded" {% if metadata["hdBranded"] %}checked{% end %} /></div>

        <div class="form-input, hd"><label for="isHD">is HD</label>
        <input type="checkbox" name="isHD" {% if metadata["isHD"] %}checked{% end %} /></div>
    </fieldset>

    <fieldset id="audio">
    <legend>Audio</legend>
        <div class="form-input"><label for="album">Album</label>
        <input type="text" size="80" name="album" value="{{ metadata["album"] or "" }}" /></div>

        <div class="form-input"><label for="artist">Artist</label>
        <input type="text" size="80" name="artist" value="{{ metadata["artist"] or "" }}" /></div>
    </fieldset>
    
    <input type="submit" value="{{ _("Update") }}"/>
    
    {{ xsrf_form_html() }}
</form>
</div>
{% end %}
