{% extends "base.html" %}

{% block title %}Media Library - Home Media Server{% end %}

{% block jquery %}
    var listData = {{ json_encode(lists) }};
    $(".lists").autocomplete(listData);
{% end %}

{% block body %}
<div id="Media">
<form action="/list/update/{{ user_id }}" method="POST">
<table>
{% for item in media %}
    <tr>
        <td>{{ escape(item["title"] or basename(item["path"])) }}</td>
        <td><input type="text" class="lists" name="list-{{item["id"]}}" value="{{item["listname"]}}" />

        <td>
            {% if name == 'admin' %}
            <a href="/media/edit/{{item["id"]}}">EDIT</a> 
            <a href="/media/delete/{{item["id"]}}">DELETE</a>
            {% end %}
        </td>
    </tr>
{% end %}
</table>
<button type="submit" id="update">Update</button>
{{ xsrf_form_html() }}
</form>
</div>

{% end %}
