<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<feed>
    <!-- resultLength indicates the total number of results for this feed -->
    <resultLength>{{ len(media) }}</resultLength>
    <!-- endIndix  indicates the number of results for this *paged* section of the feed -->
    <endIndex>{{ len(media) }}</endIndex>

{% for metadata in media %}
<item sdPosterUrl="{{ metadata["sdPosterUrl"] }}" hdPosterUrl="{{ metadata["hdPosterUrl"] }}">
    <contentType>{{ metadata["contentType"] }}</contentType>
    <title>{{ metadata["title"] or "" }}</title>
    <titleSeason>{{ metadata["titleSeason"] or "" }}</titleSeason>
    <description>{{ metadata["description"] or "" }}</description>
    <contentId>{{ metadata["id"] }}</contentId>
    <userId>{{ metadata["userId"] }}</userId>
    <mediaId>{{ metadata["mediaId"] }}</mediaId>
    <lastPos>{{ metadata["lastPos"] }}</lastPos>
    <sdBifUrl>{{ metadata["sdbifurl"] }}</sdBifUrl>
    <hdBifUrl>{{ metadata["hdbifurl"] }}</hdBifUrl>
    
    {% for stream in metadata["streams"] %}
    <media>
            <streamFormat>{{ stream["format"] }}</streamFormat>
            <streamQuality>{{ stream["quality"] }}</streamQuality>
            <streamBitrate>{{ stream["bitrate"] }}</streamBitrate>
            <streamUrl>{{ stream["url"] }}</streamUrl>
    </media>
    {% end %}
    <streamFormat>{{ metadata["streamFormat"] }}</streamFormat>
    <length>{{ metadata["length"] }}</length>
    <releaseDate>{{ metadata["releaseDate"] or "" }}</releaseDate>
    <rating>{{ metadata["rating"] or "" }}</rating>
    <starRating>{{ metadata["starRating"] or "0"}}</starRating>
    <userStarRating>{{ metadata["userStarRating"] or "0"}}</userStarRating>
    <shortDescriptionLine1>{{ metadata["shortDescriptionLine1"] or metadata["title"] or "" }}</shortDescriptionLine1>
    <shortDescriptionLine2>{{ metadata["shortDescriptionLine2"] or "" }}</shortDescriptionLine2>
    <episodeNumber>{{ metadata["episodeNumber"] or "" }}</episodeNumber>
    {% for actor in metadata["actors"] %}
    <actor>{{ actor }}</actor>{% end %}
    {% for director in metadata["directors"] %}
    <director>{{ director }}</director>{% end %}
    {% for category in metadata["categories"] %}
    <category>{{ category }}</category>{% end %}
    <hdBranded>{{ metadata["hdBranded"] }}</hdBranded>
    <isHD>{{ metadata["isHD"] }}</isHD>
    <textOverlayUL>{{ metadata["textOverlayUL"] or "" }}</textOverlayUL>
    <textOverlayUR>{{ metadata["textOverlayUR"] or "" }}</textOverlayUR>
    <textOverlayBody>{{ metadata["textOverlayBody"] or "" }}</textOverlayBody>
    <album>{{ metadata["album"] or "" }}</album>
    <artist>{{ metadata["artist"] or "" }}</artist>
</item> 
{% end %}
</feed>
