<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<categories>

	  <!-- banner_ad: optional element which displays an at the top level category screen -->
	  <banner_ad sd_img="http://rokudev.roku.com/rokudev/examples/videoplayer/images/missing.png" hd_img="http://rokudev.roku.com/rokudev/examples/videoplayer/images/missing.png"/>

{% for user in users %}
	<category title="{{ user[1] }}" description="" sd_img="{{ host }}/user/image/{{ user[0]}}" hd_img="{{ host }}/user/image/{{ user[0]}}">
    {% for list in user[2] %}
		<categoryLeaf title="{{ list[1] }}" description="" feed="{{ host }}/xml/list/{{ user[0] }}/{{ list[0] }}"/>
    {% end %}
	</category>
{% end %}
</categories>
