html, body {
}

body {
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
	font-size: 100%;
}

#sourceForm label {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

#sourceForm .submit input {
    margin-left: 7.5em;
}

#userForm label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

#userForm .submit input {
    margin-left: 5.5em;
}

#loginForm label {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

#loginForm .submit input {
    margin-left: 7.5em;
}

.covers {
    width: 780px;
}


.cover-selection {
    float: left;
    width: 155px;
}

